@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.CartProductImageDiv {
  height: 50px;
  width: 50px;
  border-radius: 6px;
}
.CartProductImageDiv img {
  height: 100%;
  width: 100%;
}
.CartContainer {
  margin-top: 80px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.EmptyCartText {
  margin-top: 100px;
  text-align: center;
}

.customContainer {
  margin-top: 60px;
}

.customColumn1,
.customColumn2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.ProductImageDiv {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.ProductImageDiv img {
  height: 200px;
  width: 250px;
}

.ProductDetailDiv {
  width: 80%;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Adjust shadow properties as needed */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.RatingDiv {
  display: flex;
  align-items: center;
}
.ProductDescriptionDiv {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  hyphens: auto;
}
.productButtons {
  margin-top: 5px;
  height: 40px;
  display: flex;
}
.productButtons Button {
  border-radius: 15px;
  margin-right: 4px;
}
@media (max-width: 430px) {
  .customColumn2 {
    padding-top: 20px;
  }
  .ProductImageDiv {
    width: 90%;
  }
  .ProductDetailDiv {
    padding: 10px;
    width: 90%;
  }
  .ProductDetailHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .ProductTitle h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .RatingDiv {
    width: 100px;
    flex-direction: column;
  }
  .ProductDescriptionDiv {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: gray;
  }
  .productButtons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .CartProductNameDiv {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cart-total {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .cart-total h2 {
    margin-bottom: 10px;
  }
  
  .cart-total p {
    margin: 5px 0;
  }
  
  .total-amount {
    font-weight: bold;
    font-size: 1.2em;
    color: #e53935; /* Example color, adjust as needed */
  }
  





}
